webservice/wsdl/TodoListServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://server.webservice.network.liu233w.com/" name="TodoListServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://server.webservice.network.liu233w.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://server.webservice.network.liu233w.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="add" type="tns:add"/>

      <xs:element name="addResponse" type="tns:addResponse"/>

      <xs:element name="checkUser" type="tns:checkUser"/>

      <xs:element name="checkUserResponse" type="tns:checkUserResponse"/>

      <xs:element name="clear" type="tns:clear"/>

      <xs:element name="clearResponse" type="tns:clearResponse"/>

      <xs:element name="delete" type="tns:delete"/>

      <xs:element name="deleteResponse" type="tns:deleteResponse"/>

      <xs:element name="query" type="tns:query"/>

      <xs:element name="queryResponse" type="tns:queryResponse"/>

      <xs:element name="register" type="tns:register"/>

      <xs:element name="registerResponse" type="tns:registerResponse"/>

      <xs:complexType name="register">
        <xs:sequence>
          <xs:element name="username" type="xs:string" minOccurs="0"/>
          <xs:element name="password" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="registerResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:todoListResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="todoListResult">
        <xs:sequence>
          <xs:element name="authorizeFailed" type="xs:boolean"/>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="success" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="delete">
        <xs:sequence>
          <xs:element name="itemId" type="xs:int"/>
          <xs:element name="username" type="xs:string" minOccurs="0"/>
          <xs:element name="password" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:todoListResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="clear">
        <xs:sequence>
          <xs:element name="username" type="xs:string" minOccurs="0"/>
          <xs:element name="password" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="clearResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:todoListResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="query">
        <xs:sequence>
          <xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="username" type="xs:string" minOccurs="0"/>
          <xs:element name="password" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="queryResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:queryResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="queryResult">
        <xs:complexContent>
          <xs:extension base="tns:todoListResult">
            <xs:sequence>
              <xs:element name="results" type="tns:item" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="item">
        <xs:sequence>
          <xs:element name="creator" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="end" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="id" type="xs:int"/>
          <xs:element name="start" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="add">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0"/>
          <xs:element name="username" type="xs:string" minOccurs="0"/>
          <xs:element name="password" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="addResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:todoListResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="checkUser">
        <xs:sequence>
          <xs:element name="username" type="xs:string" minOccurs="0"/>
          <xs:element name="password" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="checkUserResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:todoListResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="add">
    <part name="parameters" element="tns:add"/>
  </message>
  <message name="addResponse">
    <part name="parameters" element="tns:addResponse"/>
  </message>
  <message name="register">
    <part name="parameters" element="tns:register"/>
  </message>
  <message name="registerResponse">
    <part name="parameters" element="tns:registerResponse"/>
  </message>
  <message name="clear">
    <part name="parameters" element="tns:clear"/>
  </message>
  <message name="clearResponse">
    <part name="parameters" element="tns:clearResponse"/>
  </message>
  <message name="delete">
    <part name="parameters" element="tns:delete"/>
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse"/>
  </message>
  <message name="query">
    <part name="parameters" element="tns:query"/>
  </message>
  <message name="queryResponse">
    <part name="parameters" element="tns:queryResponse"/>
  </message>
  <message name="checkUser">
    <part name="parameters" element="tns:checkUser"/>
  </message>
  <message name="checkUserResponse">
    <part name="parameters" element="tns:checkUserResponse"/>
  </message>
  <portType name="TodoListService">
    <operation name="add">
      <input wsam:Action="http://server.webservice.network.liu233w.com/TodoListService/addRequest" message="tns:add"/>
      <output wsam:Action="http://server.webservice.network.liu233w.com/TodoListService/addResponse" message="tns:addResponse"/>
    </operation>
    <operation name="register">
      <input wsam:Action="http://server.webservice.network.liu233w.com/TodoListService/registerRequest" message="tns:register"/>
      <output wsam:Action="http://server.webservice.network.liu233w.com/TodoListService/registerResponse" message="tns:registerResponse"/>
    </operation>
    <operation name="clear">
      <input wsam:Action="http://server.webservice.network.liu233w.com/TodoListService/clearRequest" message="tns:clear"/>
      <output wsam:Action="http://server.webservice.network.liu233w.com/TodoListService/clearResponse" message="tns:clearResponse"/>
    </operation>
    <operation name="delete">
      <input wsam:Action="http://server.webservice.network.liu233w.com/TodoListService/deleteRequest" message="tns:delete"/>
      <output wsam:Action="http://server.webservice.network.liu233w.com/TodoListService/deleteResponse" message="tns:deleteResponse"/>
    </operation>
    <operation name="query">
      <input wsam:Action="http://server.webservice.network.liu233w.com/TodoListService/queryRequest" message="tns:query"/>
      <output wsam:Action="http://server.webservice.network.liu233w.com/TodoListService/queryResponse" message="tns:queryResponse"/>
    </operation>
    <operation name="checkUser">
      <input wsam:Action="http://server.webservice.network.liu233w.com/TodoListService/checkUserRequest" message="tns:checkUser"/>
      <output wsam:Action="http://server.webservice.network.liu233w.com/TodoListService/checkUserResponse" message="tns:checkUserResponse"/>
    </operation>
  </portType>
  <binding name="TodoListServicePortBinding" type="tns:TodoListService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="add">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="register">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="clear">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="query">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="checkUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TodoListServiceService">
    <port name="TodoListServicePort" binding="tns:TodoListServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

